/* Reset and base styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Light background by default */
  color: #333333; /* Default text color */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)),
    url("../images/skyscrapers.jpg"); /* Black gradient overlay */
  background-size: cover; /* Cover the entire viewport */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-position: center; /* Center the background */
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  z-index: -1;
}

/* Container and layout */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: transparent; /* Set the background color to transparent */
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 20px); /* Adjust width to accommodate scrollbar */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  padding: 20px;
  z-index: 1000; /* Ensure the navbar is above other content */
  display: flex;
  justify-content: space-between; /* Aligns items at the beginning and end of the flex container */
  align-items: center; /* Aligns items vertically */
}

.navbar h1 {
  margin: 0;
  font-size: 24px;
  color: #ffffff; /* White text color */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar a {
  color: #ffffff; /* White text color */
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #00b894; /* Hover color */
}

.navbar i {
  font-size: 24px;
  margin-right: 10px;
}

/* Main content styles */
.main-content {
  overflow-y: auto;
  padding: 20px;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.hero-content {
  color: #ffffff; /* Change text color to white */
  z-index: 1; /* Ensure the content appears above the background */
}

.hero-content-container {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 60px;
  border-radius: 8px;
}

.hero-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero-content h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-content .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00b894; /* Example button color */
  color: #ffffff; /* Example button text color */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero-content .btn:hover {
  background-color: #00796b; /* Example button hover color */
}

/* About Me section */
.about-me {
  display: flex;
  flex: 1 1 0px;
  flex-direction: row; /* Display items in a row */
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
}

.about-me-container {
  display: flex;
  flex-direction: row; /* Items side by side */
  align-items: center;
  max-width: 1500px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 40px; /* Adjust padding as needed */
  border-radius: 8px;
}

.about-me-photo {
  flex: 1; /* Take up 1 part of the available space */
  margin-right: 20px; /* Space between photo and text */
}

.about-me-content {
  flex: 2; /* Take up 2 parts of the available space */
  text-align: left; /* Align text to the left */
}

/* Projects section */
.projects {
  display: flex;
  flex: 1 1 0px;
  flex-direction: row-reverse; /* Reverse order: image on the right, text on the left */
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1500px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px; /* Adjust padding as needed */
  border-radius: 8px;
}

.projects-photo {
  flex: 1;
  margin-left: 20px;
}

.projects-content {
  flex: 2;
  text-align: left;
}

/* Contact section (same as About Me) */
.contact {
  display: flex;
  flex: 1 1 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
}

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1500px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px; /* Adjust padding as needed */
  border-radius: 8px;
}

.contact-photo {
  flex: 1;
  margin-right: 20px;
}

.contact-content {
  flex: 2;
  text-align: left;
}

.about-me-photo img,
.projects-photo img,
.contact-photo img {
  width: 100%; /* Adjust width as needed */
  flex: 1;
  margin-right: 20px;
  max-width: 400px; /* Example maximum width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Example border radius */
}

.about-me-content,
.projects-content,
.contact-content {
  font-family: "Arial", sans-serif; /* Example font family */
  font-size: 16px; /* Example font size */
  font-weight: normal; /* Example font weight */
  line-height: 1.6; /* Example line height */
  color: #ffffff; /* Text color */
}

.about-me-content h2,
.projects-content h2,
.contact-content h2 {
  color: #ffffff; /* Heading color */
}

.about-me-content p,
.projects-content p,
.contact-content p {
  color: #ffffff; /* Paragraph text color */
}

.about-me-container,
.projects-container,
.contact-container {
  flex: 1 1 0px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  text-align: center; /* Adjust text alignment as needed */
}
